In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [6]:
train_X = pd.read_csv("arcene/ARCENE/arcene_train.data", delimiter=" ")
train_X.head()

,0,71,0.1,95,0.2,538,404,20,0.3,0.4,...,570.9,86.12,0.5762,36.31,0.5763,80.18,0.5764,0.5765,524,Unnamed: 10000
0,0,41,82,165,60,554,379,0,71,0,...,605,69,7,473,0,57,0,284,423,NaN
1,0,0,1,40,0,451,402,0,0,0,...,593,28,0,24,0,90,0,34,508,NaN
2,0,56,44,275,14,511,470,0,0,0,...,600,0,26,86,0,102,0,0,469,NaN
3,105,0,141,348,0,268,329,0,0,1,...,0,0,0,0,190,301,0,0,354,NaN
4,38,62,0,251,75,515,0,9,85,300,...,454,0,36,2,369,194,18,59,340,NaN

In [7]:
print(train_X.shape)

(99, 10001)

In [10]:
train_X.describe()

,0,71,0.1,95,0.2,538,404,20,0.3,0.4,...,570.9,86.12,0.5762,36.31,0.5763,80.18,0.5764,0.5765,524,Unnamed: 10000
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,0.0
mean,37.434343,34.969697,57.070707,332.232323,17.282828,410.818182,230.595960,6.373737,48.656566,64.333333,...,394.727273,45.515152,18.393939,106.777778,167.020202,198.838384,0.363636,89.424242,364.151515,NaN
std,49.875183,37.709268,68.750548,163.369609,26.425112,108.174025,186.239528,13.144865,57.710424,91.865363,...,233.700088,47.957542,23.964607,142.290702,145.153120,113.068672,2.121102,109.889935,105.377394,NaN
min,0.000000,0.000000,0.000000,27.000000,0.000000,181.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,41.000000,0.000000,0.000000,0.000000,NaN
25%,0.000000,0.000000,0.000000,217.000000,0.000000,313.500000,0.000000,0.000000,0.000000,0.000000,...,309.000000,0.000000,0.000000,0.000000,0.000000,95.500000,0.000000,0.000000,314.000000,NaN
50%,17.000000,25.000000,20.000000,337.000000,0.000000,440.000000,266.000000,0.000000,30.000000,1.000000,...,468.000000,33.000000,4.000000,51.000000,190.000000,168.000000,0.000000,39.000000,364.000000,NaN
75%,58.000000,58.500000,107.500000,447.000000,29.000000,500.000000,423.500000,2.500000,79.500000,125.000000,...,579.500000,75.000000,34.500000,141.000000,278.000000,297.500000,0.000000,166.000000,445.500000,NaN
max,188.000000,218.000000,236.000000,677.000000,99.000000,583.000000,493.000000,55.000000,202.000000,391.000000,...,654.000000,195.000000,83.000000,656.000000,485.000000,422.000000,18.000000,392.000000,533.000000,NaN

In [8]:
train_y = pd.read_csv("arcene/ARCENE/arcene_train.labels", delimiter=" ")
train_y.head()

   1
0 -1
1  1
2  1
3 -1
4 -1

In [9]:
print(train_y.shape)

(99, 1)

In [ ]:
# Set the maximum number of columns to display
pd.set_option('display.max_columns', None)

missing = X.isin(["?"]).sum()
missing_cols = missing[missing > 100].index.tolist()
missing_cols

In [ ]:
print(X.shape)
X.drop(columns = missing_cols, inplace=True)
print(X.shape)
X.head()

In [ ]:
# Delete rows where any column contains a "?"
X = X[~X.isin(["?"]).any(axis=1)]

# Display the cleaned DataFrame
print(X.shape)
X.head()

In [ ]:
# remove same rows from y
print(y.shape)
y = y.loc[X.index]
print(y.shape)

In [ ]:
# removing categorical and non-numeric variables
X.describe()

In [ ]:
X.head()

In [ ]:
plt.figure(figsize=(18, 14))
corr_matrix = pd.DataFrame(X).corr()
sns.heatmap(corr_matrix, annot=False, cmap='coolwarm')
plt.show()

In [ ]:
X.describe()

In [ ]:
y.describe()

In [ ]:
# we are now ready to save and do ML :)

X.to_csv("communities+and+crime/features_cleaned.csv", index=False)

In [ ]:
y.to_csv("communities+and+crime/targets_cleaned.csv", index=False)