In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import json

In [2]:
train_X = pd.read_csv("arcene/ARCENE/arcene_train.data", delimiter=" ", header=None)
train_X.head()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,71,0,95,0,538,404,20,0,0,...,570,86,0,36,0,80,0,0,524,NaN
1,0,41,82,165,60,554,379,0,71,0,...,605,69,7,473,0,57,0,284,423,NaN
2,0,0,1,40,0,451,402,0,0,0,...,593,28,0,24,0,90,0,34,508,NaN
3,0,56,44,275,14,511,470,0,0,0,...,600,0,26,86,0,102,0,0,469,NaN
4,105,0,141,348,0,268,329,0,0,1,...,0,0,0,0,190,301,0,0,354,NaN

In [3]:
print(train_X.shape)

(100, 10001)

In [4]:
train_X.describe()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
count,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
mean,37.060000,35.330000,56.50000,329.860000,17.110000,412.090000,232.330000,6.510000,48.170000,63.690000,...,396.480000,45.920000,18.210000,106.070000,165.350000,197.650000,0.360000,88.530000,365.750000,NaN
std,49.763647,37.690943,68.64011,164.264508,26.348057,108.375152,186.106142,13.149102,57.624009,91.626349,...,233.176462,47.886161,23.914112,141.747054,145.380752,113.122118,2.110675,109.698619,106.055386,NaN
min,0.000000,0.000000,0.00000,27.000000,0.000000,181.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,41.000000,0.000000,0.000000,0.000000,NaN
25%,0.000000,0.000000,0.00000,213.750000,0.000000,314.250000,0.000000,0.000000,0.000000,0.000000,...,309.000000,0.000000,0.000000,0.000000,0.000000,94.500000,0.000000,0.000000,314.500000,NaN
50%,15.000000,25.000000,19.50000,333.500000,0.000000,441.000000,266.000000,0.000000,30.000000,0.500000,...,468.500000,34.500000,2.500000,48.500000,186.000000,167.000000,0.000000,38.500000,364.500000,NaN
75%,57.500000,59.750000,107.25000,443.000000,29.000000,501.250000,422.750000,4.500000,79.250000,125.000000,...,579.250000,75.250000,34.250000,140.000000,276.500000,295.750000,0.000000,165.500000,446.500000,NaN
max,188.000000,218.000000,236.00000,677.000000,99.000000,583.000000,493.000000,55.000000,202.000000,391.000000,...,654.000000,195.000000,83.000000,656.000000,485.000000,422.000000,18.000000,392.000000,533.000000,NaN

In [5]:
train_X = train_X.drop(10000, axis=1)

In [6]:
train_X.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,71,0,95,0,538,404,20,0,0,...,255,570,86,0,36,0,80,0,0,524
1,0,41,82,165,60,554,379,0,71,0,...,213,605,69,7,473,0,57,0,284,423
2,0,0,1,40,0,451,402,0,0,0,...,235,593,28,0,24,0,90,0,34,508
3,0,56,44,275,14,511,470,0,0,0,...,91,600,0,26,86,0,102,0,0,469
4,105,0,141,348,0,268,329,0,0,1,...,813,0,0,0,0,190,301,0,0,354

In [7]:
train_y = pd.read_csv("arcene/ARCENE/arcene_train.labels", delimiter=" ", header=None)
train_y.head()

   0
0  1
1 -1
2  1
3  1
4 -1

In [8]:
print(train_y.shape)

(100, 1)

In [9]:
scaler = MinMaxScaler()

# Fit the scaler and transform the DataFrame
train_X_scaled = scaler.fit_transform(train_X)

# Convert the result back to a DataFrame
train_X_scaled = pd.DataFrame(train_X_scaled, columns=train_X.columns)

In [10]:
train_X_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0.000000,0.325688,0.000000,0.104615,0.000000,0.888060,0.819473,0.363636,0.000000,0.000000,...,0.241895,0.871560,0.441026,0.000000,0.054878,0.000000,0.102362,0.0,0.000000,0.983114
1,0.000000,0.188073,0.347458,0.212308,0.606061,0.927861,0.768763,0.000000,0.351485,0.000000,...,0.189526,0.925076,0.353846,0.084337,0.721037,0.000000,0.041995,0.0,0.724490,0.793621
2,0.000000,0.000000,0.004237,0.020000,0.000000,0.671642,0.815416,0.000000,0.000000,0.000000,...,0.216958,0.906728,0.143590,0.000000,0.036585,0.000000,0.128609,0.0,0.086735,0.953096
3,0.000000,0.256881,0.186441,0.381538,0.141414,0.820896,0.953347,0.000000,0.000000,0.000000,...,0.037406,0.917431,0.000000,0.313253,0.131098,0.000000,0.160105,0.0,0.000000,0.879925
4,0.558511,0.000000,0.597458,0.493846,0.000000,0.216418,0.667343,0.000000,0.000000,0.002558,...,0.937656,0.000000,0.000000,0.000000,0.000000,0.391753,0.682415,0.0,0.000000,0.664165

In [11]:
train_X_scaled.describe()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,0.197128,0.162064,0.239407,0.465938,0.172828,0.574851,0.471258,0.118364,0.238465,0.162890,...,0.377531,0.606239,0.235487,0.219398,0.161692,0.340928,0.411155,0.02000,0.225842,0.686210
std,0.264700,0.172894,0.290848,0.252715,0.266142,0.269590,0.377497,0.239075,0.285267,0.234338,...,0.327232,0.356539,0.245570,0.288122,0.216078,0.299754,0.296908,0.11726,0.279843,0.198978
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.287308,0.000000,0.331468,0.000000,0.000000,0.000000,0.000000,...,0.163965,0.472477,0.000000,0.000000,0.000000,0.000000,0.140420,0.00000,0.000000,0.590056
50%,0.079787,0.114679,0.082627,0.471538,0.000000,0.646766,0.539554,0.000000,0.148515,0.001279,...,0.235661,0.716361,0.176923,0.030120,0.073933,0.383505,0.330709,0.00000,0.098214,0.683865
75%,0.305851,0.274083,0.454449,0.640000,0.292929,0.796642,0.857505,0.081818,0.392327,0.319693,...,0.524938,0.885703,0.385897,0.412651,0.213415,0.570103,0.668635,0.00000,0.422194,0.837711
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [12]:
train_X_scaled.to_csv("arcene/features_cleaned.csv", index=False)

In [13]:
train_y.to_csv("arcene/targets_cleaned.csv", index=False)