In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import json
import torch

In [7]:
# load in train dataset
train_data = torch.load(f'generated_data/n_2000_m_1000.pt')
train_features = train_data['features']
train_labels = train_data['labels'].unsqueeze(1).float()
len(train_labels[train_labels == 1]) / len(train_labels)

0.603

In [6]:
# dataset information exploration (NOT NEEDED FOR BELOW)
test_data = torch.load('generated_data/n_2000_test.pt')
test_labels = test_data['labels'].unsqueeze(1).float()
len(test_labels[test_labels == 1]) / len(test_labels)

0.6544

In [2]:
train_X = pd.read_csv("arcene/ARCENE/arcene_train.data", delimiter=" ", header=None)
train_X.head()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,71,0,95,0,538,404,20,0,0,...,570,86,0,36,0,80,0,0,524,NaN
1,0,41,82,165,60,554,379,0,71,0,...,605,69,7,473,0,57,0,284,423,NaN
2,0,0,1,40,0,451,402,0,0,0,...,593,28,0,24,0,90,0,34,508,NaN
3,0,56,44,275,14,511,470,0,0,0,...,600,0,26,86,0,102,0,0,469,NaN
4,105,0,141,348,0,268,329,0,0,1,...,0,0,0,0,190,301,0,0,354,NaN

In [3]:
print(train_X.shape)

(100, 10001)

In [4]:
train_X.describe()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
count,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
mean,37.060000,35.330000,56.50000,329.860000,17.110000,412.090000,232.330000,6.510000,48.170000,63.690000,...,396.480000,45.920000,18.210000,106.070000,165.350000,197.650000,0.360000,88.530000,365.750000,NaN
std,49.763647,37.690943,68.64011,164.264508,26.348057,108.375152,186.106142,13.149102,57.624009,91.626349,...,233.176462,47.886161,23.914112,141.747054,145.380752,113.122118,2.110675,109.698619,106.055386,NaN
min,0.000000,0.000000,0.00000,27.000000,0.000000,181.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,41.000000,0.000000,0.000000,0.000000,NaN
25%,0.000000,0.000000,0.00000,213.750000,0.000000,314.250000,0.000000,0.000000,0.000000,0.000000,...,309.000000,0.000000,0.000000,0.000000,0.000000,94.500000,0.000000,0.000000,314.500000,NaN
50%,15.000000,25.000000,19.50000,333.500000,0.000000,441.000000,266.000000,0.000000,30.000000,0.500000,...,468.500000,34.500000,2.500000,48.500000,186.000000,167.000000,0.000000,38.500000,364.500000,NaN
75%,57.500000,59.750000,107.25000,443.000000,29.000000,501.250000,422.750000,4.500000,79.250000,125.000000,...,579.250000,75.250000,34.250000,140.000000,276.500000,295.750000,0.000000,165.500000,446.500000,NaN
max,188.000000,218.000000,236.00000,677.000000,99.000000,583.000000,493.000000,55.000000,202.000000,391.000000,...,654.000000,195.000000,83.000000,656.000000,485.000000,422.000000,18.000000,392.000000,533.000000,NaN

In [5]:
val_X = pd.read_csv("arcene/ARCENE/arcene_valid.data", delimiter=" ", header=None)
val_X.head()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,0,156,138,2,635,444,0,1,0,...,692,42,0,50,67,87,0,0,465,NaN
1,0,7,0,7,0,251,0,0,22,222,...,673,0,0,18,201,317,0,34,199,NaN
2,0,32,0,470,53,493,0,0,140,147,...,461,20,34,165,225,53,0,47,219,NaN
3,0,77,0,202,0,432,472,0,60,0,...,555,13,0,488,0,71,0,177,487,NaN
4,0,34,102,522,2,474,473,0,39,0,...,630,0,29,192,0,74,0,5,416,NaN

In [6]:
print(val_X.shape)

(100, 10001)

In [7]:
val_X.describe()

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
count,100.000000,100.000000,100.000000,100.0000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,0.0
mean,33.710000,38.780000,64.110000,320.9900,17.00000,409.790000,220.290000,8.880000,49.420000,77.840000,...,370.230000,46.380000,18.740000,108.270000,190.390000,206.760000,1.020000,87.400000,357.55000,NaN
std,47.918343,38.328611,73.758669,146.2053,27.95487,103.450891,177.575666,16.436151,58.984535,101.561219,...,237.223198,50.228926,26.122717,173.086062,139.408556,123.901975,4.256854,113.776052,104.24557,NaN
min,0.000000,0.000000,0.000000,0.0000,0.00000,219.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.00000,NaN
25%,0.000000,1.000000,0.000000,209.0000,0.00000,309.000000,0.000000,0.000000,0.000000,0.000000,...,153.000000,0.000000,0.000000,0.000000,0.000000,91.500000,0.000000,0.000000,312.00000,NaN
50%,10.000000,32.000000,29.500000,334.0000,0.00000,427.000000,217.500000,0.000000,25.000000,15.500000,...,427.000000,37.000000,0.000000,41.500000,228.500000,195.000000,0.000000,38.000000,358.00000,NaN
75%,49.250000,59.250000,128.750000,428.0000,31.25000,487.500000,396.750000,11.250000,80.750000,145.000000,...,570.000000,81.000000,38.500000,113.750000,284.250000,323.250000,0.000000,151.250000,441.50000,NaN
max,194.000000,184.000000,240.000000,705.0000,109.00000,635.000000,501.000000,74.000000,201.000000,425.000000,...,692.000000,200.000000,90.000000,646.000000,509.000000,423.000000,24.000000,491.000000,527.00000,NaN

In [8]:
# combining train and validation datasets
X = pd.concat([train_X, val_X], ignore_index=True)

In [10]:
X.shape

(200, 10001)

In [11]:
X = X.drop(10000, axis=1)

In [12]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,71,0,95,0,538,404,20,0,0,...,255,570,86,0,36,0,80,0,0,524
1,0,41,82,165,60,554,379,0,71,0,...,213,605,69,7,473,0,57,0,284,423
2,0,0,1,40,0,451,402,0,0,0,...,235,593,28,0,24,0,90,0,34,508
3,0,56,44,275,14,511,470,0,0,0,...,91,600,0,26,86,0,102,0,0,469
4,105,0,141,348,0,268,329,0,0,1,...,813,0,0,0,0,190,301,0,0,354

In [13]:
train_y = pd.read_csv("arcene/ARCENE/arcene_train.labels", delimiter=" ", header=None)
train_y.head()

   0
0  1
1 -1
2  1
3  1
4 -1

In [15]:
train_y.shape

(100, 1)

In [14]:
val_y = pd.read_csv("arcene/ARCENE/arcene_valid.labels", delimiter=" ", header=None)
val_y.head()

   0
0 -1
1 -1
2 -1
3  1
4  1

In [16]:
val_y.shape

(100, 1)

In [17]:
y = pd.concat([train_y, val_y], ignore_index=True)

In [18]:
y.shape

(200, 1)

In [19]:
y.describe()

                0
count  200.000000
mean    -0.120000
std      0.995265
min     -1.000000
25%     -1.000000
50%     -1.000000
75%      1.000000
max      1.000000

In [20]:
y = y.replace(-1, 0)

In [21]:
y.describe()

                0
count  200.000000
mean     0.440000
std      0.497633
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [22]:
scaler = MinMaxScaler()

# Fit the scaler and transform the DataFrame
X_scaled = scaler.fit_transform(X)

# Convert the result back to a DataFrame
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [23]:
X_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0.000000,0.325688,0.000000,0.134752,0.000000,0.786344,0.806387,0.27027,0.000000,0.000000,...,0.213656,0.823699,0.430,0.000000,0.054878,0.000000,0.189125,0.0,0.000000,0.983114
1,0.000000,0.188073,0.341667,0.234043,0.550459,0.821586,0.756487,0.00000,0.351485,0.000000,...,0.167401,0.874277,0.345,0.077778,0.721037,0.000000,0.134752,0.0,0.578411,0.793621
2,0.000000,0.000000,0.004167,0.056738,0.000000,0.594714,0.802395,0.00000,0.000000,0.000000,...,0.191630,0.856936,0.140,0.000000,0.036585,0.000000,0.212766,0.0,0.069246,0.953096
3,0.000000,0.256881,0.183333,0.390071,0.128440,0.726872,0.938124,0.00000,0.000000,0.000000,...,0.033040,0.867052,0.000,0.288889,0.131098,0.000000,0.241135,0.0,0.000000,0.879925
4,0.541237,0.000000,0.587500,0.493617,0.000000,0.191630,0.656687,0.00000,0.000000,0.002353,...,0.828194,0.000000,0.000,0.000000,0.000000,0.373281,0.711584,0.0,0.000000,0.664165

In [25]:
X_scaled.describe()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.182397,0.169977,0.251271,0.461596,0.156468,0.506476,0.451717,0.103986,0.241559,0.166506,...,0.347379,0.553981,0.230750,0.205278,0.163369,0.349450,0.478026,0.028750,0.179155,0.678518
std,0.251318,0.174105,0.296535,0.220099,0.248579,0.232778,0.362343,0.201266,0.287945,0.227620,...,0.295516,0.339574,0.244743,0.277569,0.240549,0.280198,0.279963,0.140316,0.227039,0.196942
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.003440,0.000000,0.300000,0.000000,0.287996,0.000000,0.000000,0.000000,0.000000,...,0.143172,0.341402,0.000000,0.000000,0.000000,0.000000,0.219267,0.000000,0.000000,0.586773
50%,0.054124,0.126147,0.097917,0.473759,0.000000,0.551762,0.490020,0.000000,0.126238,0.018824,...,0.216410,0.663295,0.185000,0.000000,0.067835,0.421415,0.433806,0.000000,0.078411,0.677298
75%,0.278351,0.271789,0.483333,0.615248,0.270642,0.696035,0.818862,0.121622,0.392327,0.337059,...,0.591134,0.829841,0.405000,0.391667,0.198171,0.556483,0.743499,0.000000,0.324338,0.836773
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
X_scaled.to_csv("arcene/features_cleaned.csv", index=False)

In [27]:
y.to_csv("arcene/targets_cleaned.csv", index=False)